*
{
    text-decoration:none;
    font-family:Arial;
 margin-top:0px;
 padding:0px;   
 outline: none;
}

body
{
   
            margin:0 auto;
             background:#ccc;
    	   background:url(/grafika/tlo7.jpg) no-repeat fixed; 
    	
    	    background-position:fixed;
    	    background-size:cover;

           

}
ul {
    font-size: 0;
}
ul li {
    font-size: 14px;
    display: inline;
}
.formularz input[type=submit],.formularz input[type=button],.styl-1 input[type=button],.styl-1  input[type=submit]
{
    background:#ff7700;
    border:2px solid black;
    border-radius: 0 10px;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    font-weight:bold;
    background: #ff7700;
background: -moz-linear-gradient(top,  #ff7700 0%, #ffbb7f 50%, #ff7700 51%, #ffb172 76%, #ff7700 93%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7700), color-stop(50%,#ffbb7f), color-stop(51%,#ff7700), color-stop(76%,#ffb172), color-stop(93%,#ff7700));
background: -webkit-linear-gradient(top,  #ff7700 0%,#ffbb7f 50%,#ff7700 51%,#ffb172 76%,#ff7700 93%);
background: -o-linear-gradient(top,  #ff7700 0%,#ffbb7f 50%,#ff7700 51%,#ffb172 76%,#ff7700 93%);
background: -ms-linear-gradient(top,  #ff7700 0%,#ffbb7f 50%,#ff7700 51%,#ffb172 76%,#ff7700 93%);
background: linear-gradient(to bottom,  #ff7700 0%,#ffbb7f 50%,#ff7700 51%,#ffb172 76%,#ff7700 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7700', endColorstr='#ff7700',GradientType=0 );
padding:5px;
background: rgb(255,212,0);
background: -moz-linear-gradient(top,  rgba(255,212,0,1) 0%, rgba(255,119,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,212,0,1)), color-stop(100%,rgba(255,119,0,1)));
background: -webkit-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
background: -o-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
background: linear-gradient(to bottom,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd400', endColorstr='#ff7700',GradientType=0 );

}
.formularz input[type=submit]:hover,.formularz input[type=button]:hover,.styl-1 input[type=button]:hover,.styl-1  input[type=submit]:hover
{
 background:black;
 color:White;   
}
.formularz input[type=text],.formularz input[type=password],.formularz textarea
{
    resize:none;
    background:#ff7700;
    border:2px solid black;
    border-radius: 0 10px;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    font-weight:bold;
    color:#000;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(183,183,183,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(183,183,183,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(183,183,183,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(183,183,183,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(183,183,183,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(183,183,183,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7b7b7',GradientType=0 );

}
.formularz textarea
{
   
}
.formularz input[type=text]:focus,.formularz input[type=password]:focus
{
   
    border-color:#f70;
    box-shadow:0px 0px 10px #f70;
}
.produkty-lista>div:first-child
{
    width:215px !important;
 border:1px solid #ff7700;
 margin-bottom:10px;
background:url(/grafika/tlo7.jpg) no-repeat fixed; 
box-shadow:inset 0 3px 20px #000;
border-radius:0 10px;
}
.produkty-lista
{
 padding-top:5px;   
}
.formularz>label
{
    font-size:20px;
 font-weight:bold;   
 border-bottom:1px solid #ff7700;
 padding-left:5px;

border-radius:20px 0  0 20px;
}
*::selection 
{
    background:transparent;
  
}
	#strona
	{

	     margin:0 auto;
	}
	#top
	{
        min-width:980px;
	    margin-top:-20px;
	    
	    background:url(/grafika/top-sprite.png) 50% 0%;
	    width:100%;
	    height:108px;
	   
	}
	#owijacz,.owijacz
	{
	       margin:0 auto;
	    max-width:980px;
	    position:relative;
	}
	#logo
	{
	         margin:0 auto;
      	

	    width:370px;
	    margin-left:0px;
	    background:url(/grafika/logo.png) no-repeat;

	    height:108px;
	  
	}

	#opcje_menu input[type=text]
	{
	    border:0px;
	   background:transparent;
	    font-size:18px;
	    width:180px;
	    height:22px;
	   bottom:100px;
	  color:Black;
	}
	#opcje_menu
	{
	   position:absolute;


       text-align:left;
       left:580px;
	   color:black;
       width:500px;
       top:33px;
	   
	}
	#opcje_menu div
	{
	  display:inline-block;
	}
    #szukaj input[type=submit]
    {

        border:0;
        background:transparent;
        cursor:pointer;
        width:24px;
        height:24px;
      
    }
    #koszyk
    {
        position:relative;
        
    }
    #koszyk a
    {
        line-height:25px;
        color:White;
        padding-left:40px;
        padding-right:13px;
    }
    .gruby
    {
        font-weight:bold;
    }
    .czarny
    {
        color:Black;
    }
    .text_format_3
    {
        font-size:18px;
    }
    ul
    {
        list-style:none;
    }
    #menu ul li,#menu div
    {
        display:inline;
    }
	#menu a
	{
	    color:#ff7700;
	    font-size:14px;
	    padding:7px;
	    line-height:23px;
	}
	#menu a:hover
	{
	 background:#ff7700;
	 color:Black;   
	}
	#menu .menu_glowne li.pierwszy a:hover:before
	{
  content: "";
  position: absolute;
  top: -4px;
  left:-15px;
  width: 0;
  height: 0;
  border-color: transparent #ff7700 transparent   transparent ;
  border-style: solid;
  border-width:  15px 15px 15px 0 ;  
	}	
	#menu .menu_glowne
	{
	 position:absolute;
	 left:576px;
	 top:5px;   
	}
	
	
    .koszyk_dodaj:before
    {
        background-image:url("/grafika/proj-grup-sprite.png") !important;
        content: "fghgf";
    }
	.koszyk_dodaj
	{
	 height:36px;   
	 width:140px;
	 border-radius:0px !important;
	 border:0px !important;
background: transparent !important;
 background-image:url("/grafika/proj-grup-sprite.png") !important;
 background-position:-207px -207px !important;
color:White;
font-size:15px;
margin-left:5px;
cursor: pointer !important;
	}
	.koszyk_dodaj:hover
	{
	 background-position:-364px -207px !important;    
	}
	.linki_usera
	{
	    color:White;
	    font-size:15px;
	 position:absolute;
	 left:576px;
	 top:5px;   
	}
	.linki_usera a
	{
	    font-size:11px;
	}
		#menu .linki_usera a:hover
		{
		    color:White !important;
		    background:transparent;
		}
		#kategorie ul
		{
		    font-size:20px;

		   
		     background:black;
		     width:166px;
		     
		     border-radius:10px;
		     text-align:center;


background: -moz-linear-gradient(left,  rgba(19,19,19,1) 0%, rgba(102,102,102,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(44,44,44,1) 50%, rgba(71,71,71,1) 61%, rgba(89,89,89,1) 88%, rgba(76,76,76,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(19,19,19,1)), color-stop(0%,rgba(102,102,102,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(61%,rgba(71,71,71,1)), color-stop(88%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
background: -webkit-linear-gradient(left,  rgba(19,19,19,1) 0%,rgba(102,102,102,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(44,44,44,1) 50%,rgba(71,71,71,1) 61%,rgba(89,89,89,1) 88%,rgba(76,76,76,1) 100%);
background: -o-linear-gradient(left,  rgba(19,19,19,1) 0%,rgba(102,102,102,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(44,44,44,1) 50%,rgba(71,71,71,1) 61%,rgba(89,89,89,1) 88%,rgba(76,76,76,1) 100%);
background: -ms-linear-gradient(left,  rgba(19,19,19,1) 0%,rgba(102,102,102,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(44,44,44,1) 50%,rgba(71,71,71,1) 61%,rgba(89,89,89,1) 88%,rgba(76,76,76,1) 100%);
background: linear-gradient(to right,  rgba(19,19,19,1) 0%,rgba(102,102,102,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(44,44,44,1) 50%,rgba(71,71,71,1) 61%,rgba(89,89,89,1) 88%,rgba(76,76,76,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c',GradientType=1 );
box-shadow: 0 4px 10px #000;
		}
		#kategorie div.kat
		{
		    color:Black;
		    width:166px;
		    height:40px;
		    line-height:40px;
		    border-radius:8px 8px 0 0 ;
		    background:#ff7700;
background: -moz-linear-gradient(left,  rgba(255,119,0,1) 0%, rgba(255,199,0,1) 49%, rgba(255,119,0,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,119,0,1)), color-stop(49%,rgba(255,199,0,1)), color-stop(100%,rgba(255,119,0,1)));
background: -webkit-linear-gradient(left,  rgba(255,119,0,1) 0%,rgba(255,199,0,1) 49%,rgba(255,119,0,1) 100%);
background: -o-linear-gradient(left,  rgba(255,119,0,1) 0%,rgba(255,199,0,1) 49%,rgba(255,119,0,1) 100%);
background: -ms-linear-gradient(left,  rgba(255,119,0,1) 0%,rgba(255,199,0,1) 49%,rgba(255,119,0,1) 100%);
background: linear-gradient(to right,  rgba(255,119,0,1) 0%,rgba(255,199,0,1) 49%,rgba(255,119,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7700', endColorstr='#ff7700',GradientType=1 );

		}
		#kategorie ul li
		{
		    color:White;
		     font-size:17px;
		    text-align:left;

		    border-bottom:1px solid #626262;

		}
		div#kategorie tr:last-of-type li , #kategorie tr:last-of-type li a:hover
		{
		     border-radius:0 0 10px 10px;   
		}
				#kategorie ul li a
				{
		   padding-left:12px;
		    height:30px;
		    line-height:30px;
		    display:block;
				 color:White;   
		}
				#kategorie ul li a:hover
				{
background: rgb(76,76,76);
background: -moz-linear-gradient(left,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)));
background: -webkit-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%);
background: -o-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%);
background: -ms-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%);
background: linear-gradient(to right,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c',GradientType=1 );
box-shadow: inset -12px 0 5px #000;

				}

		    .odstep_gora
		    {
		        margin-top:20px;
		    }
.zawartosc
{
    position:relative;
    margin:auto;
 width:777px;

 left:37px;
 float:left;

}
.formularz
{


border-top:1px solid #ff7700;

color: #fff;
border-radius:0 25px 25px 25px;
padding:10px;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.33) 0%, rgba(125,126,125,0.34) 6%, rgba(14,14,14,0.44) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.33)), color-stop(6%,rgba(125,126,125,0.34)), color-stop(100%,rgba(14,14,14,0.44)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.33) 0%,rgba(125,126,125,0.34) 6%,rgba(14,14,14,0.44) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0.33) 0%,rgba(125,126,125,0.34) 6%,rgba(14,14,14,0.44) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0.33) 0%,rgba(125,126,125,0.34) 6%,rgba(14,14,14,0.44) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.33) 0%,rgba(125,126,125,0.34) 6%,rgba(14,14,14,0.44) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#700e0e0e',GradientType=0 );
box-shadow: 0 5px 10px #000;
}
.zawartosc .produkty .label
{
    padding:5px;
    padding-left:30px;
    background:black;
    color:#ff7700;
    border-radius:10px;
    margin-left:25px;
    margin-right:25px;
background: rgb(0,0,0);
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(125,126,125,1) 6%, rgba(14,14,14,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(6%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0e0e0e',GradientType=0 );

border-bottom:1px solid #ff7700;



}
.produkty-lista
{
    background:black !important;
    color:#ff7700;
    width:230px;
    height:160px;
    border-radius:0  10px   10px 10px;
}
.wstazka
{
    font-weight:bold;
    font-size:14px;
 background:url(/grafika/proj-grup-sprite.png) -299px -160px;   
 width:239px;
 height:45px;
 padding-left:9px;
 margin-left:-7px;

}
.nazwa-lista
{
    max-width:100px !important;
    padding-right:20px;
    margin-left:5px;
    text-align:left;
    border-radius:5px 0;
}
.ostatni_kat
{
 border-radius:0 0 10px 10px;   
}
.ostatni_kat a:hover
{
    border-radius:0 0 8px 8px;   
}
#konsultant
{



	margin-top:20px;    
	    background:url(/grafika/proj-grup-sprite.png) 0px -160px;
    min-height:131px;
    width:165px;
    
    padding-left:12px;


}
h1
{
    font-size:20px !important;

    padding-top:11px;
    padding-bottom:0px;
    font-weight:normal;
    margin-bottom:0px !important;
}
#elementy
{
    float:left;
}
.konsultant_off
{
    font-family:Arial;
    color:Red;
    content:"Offline!";
    padding-left:15px;
    background: url(/grafika/proj-grup-sprite.png) -415px -255px;
}

.konsultant_on
{
    color:#0a0;
    content:"Online!";
    background: url(/grafika/proj-grup-sprite.png) -400px -255px;
    padding-left:15px;
}
#konsultant a
{
    color:Black;
}
#konsultant a:hover
{
    color:#ff7700;
}
.cena
{
    color: #ff7700;
   
    font-weight:bold !important;
}
.big
{
 font-size:25px;   
}
.input_bialy
{
background: rgb(245,246,246) !important;
background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))) !important;
background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%) !important;
background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%) !important;
background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%) !important;
background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ) !important;
border-radius:5px !important;
  box-shadow: inset 0 0 4px #000;
}
.plus_minus
{
 font-weight:bold;
 font-size:25px;
 width:25px;
 height:19px;
 line-height:1px;
 position:relative;
 top:-2px;
border-radius:4px !important;
background:transparent !important;
border:none !important;

}
.minus
{

right:-1px;
}
.plus_minus_przyciski
{
    width:55px !important;
    height:23px;
 background: url(/grafika/proj-grup-sprite.png) -207px -253px;
}
/* admin panel */
.mini_obraz
{
    border-color:Black;
    border-radius: 5px 0;
    color:Black;
   
    text-align:center;

    background: #444;
overflow:hidden;
box-shadow: inset -5px -5px 50px #111;
}
.upload_admin
{

    left:0px;
    top:0px;
 font-size:100px;   
 height:100px;
    width: 99px;
    margin-right: 0px;
    opacity:0;
    filter: alpha(opacity = 0);
    cursor:pointer;
}
#obraz_admin_up
{
        position:absolute;
     
        padding-left:6px;
        color:#cc6600;
       line-height:100px;
    top: 0px;
    
    height: 99px;
}
#opis_admin_produkt
{
    margin-top:-5px;
}
#opis_admin_produkt input[type=text]
{
    width:180px;
    border:0px;
}
#dodaj_przedmiot
{
   margin:auto;
   background:#000;
}
#dodaj_przedmiot input[type=text],#dodaj_przedmiot textarea,select
{
    margin-bottom:-3px;
 padding-left:10px;
 background:#444;
 color:#ff7700;
}
select
{
    border:1px solid #444;
    
}
#dodaj_przedmiot textarea
{ width:281px;
  height:50px;
  border:0;
  overflow:hidden;
  border-left:2px solid black;
  border-right:2px solid black;
}
.label_opis_Admin
{
    position:relative;
    top:5px;
    background:#444;
    padding-left:10px;
    padding-right:10px;
    border-radius:20px 0;
 color:#cc6600;
 margin-top:15px;   
}
.tytul
{

    border:2px solid #ff7700;
    background:#ff7700;
    color:Black;
    font-weight:bold !important;
    font-size:13px;
padding-bottom:5px;
background: rgb(255,212,0);
background: -moz-linear-gradient(top,  rgba(255,212,0,1) 0%, rgba(255,119,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,212,0,1)), color-stop(100%,rgba(255,119,0,1)));
background: -webkit-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
background: -o-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
background: linear-gradient(to bottom,  rgba(255,212,0,1) 0%,rgba(255,119,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd400', endColorstr='#ff7700',GradientType=0 );

}
.a_naglowek
{
   margin:Auto !important;
   width:100%;
   text-align:center;
   

}
.label_menu_admin
{
background:black;
color:#ff7700;
 width:100px;   
 text-align:center;
 border-radius:20px 0;
}
#lista_menu_admina
{
    padding:0px;
    margin:0px;
}
#lista_menu_admina li
{
display:inline-block;
}
#lista_menu_admina li:first-child
{
     margin-left:0px;   
}
#lista_menu_admina li
{
 margin-left:-18px;
 
}#lista_menu_admina li div
{   
border-left:2px solid black;
padding-left:6px;
padding-right:10px;
}
#lista_menu_admina li div:hover,#lista_menu_admina .wybrany
{   
     background: #ff7700;
color:#000;
cursor:pointer;
background: rgb(255,190,137);
background: -moz-linear-gradient(top,  rgba(255,190,137,1) 0%, rgba(255,119,0,1) 50%, rgba(255,119,0,1) 51%, rgba(255,136,0,1) 84%, rgba(163,57,0,1) 94%, rgba(255,119,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,190,137,1)), color-stop(50%,rgba(255,119,0,1)), color-stop(51%,rgba(255,119,0,1)), color-stop(84%,rgba(255,136,0,1)), color-stop(94%,rgba(163,57,0,1)), color-stop(100%,rgba(255,119,0,1)));
background: -webkit-linear-gradient(top,  rgba(255,190,137,1) 0%,rgba(255,119,0,1) 50%,rgba(255,119,0,1) 51%,rgba(255,136,0,1) 84%,rgba(163,57,0,1) 94%,rgba(255,119,0,1) 100%);
background: -o-linear-gradient(top,  rgba(255,190,137,1) 0%,rgba(255,119,0,1) 50%,rgba(255,119,0,1) 51%,rgba(255,136,0,1) 84%,rgba(163,57,0,1) 94%,rgba(255,119,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,190,137,1) 0%,rgba(255,119,0,1) 50%,rgba(255,119,0,1) 51%,rgba(255,136,0,1) 84%,rgba(163,57,0,1) 94%,rgba(255,119,0,1) 100%);
background: linear-gradient(to bottom,  rgba(255,190,137,1) 0%,rgba(255,119,0,1) 50%,rgba(255,119,0,1) 51%,rgba(255,136,0,1) 84%,rgba(163,57,0,1) 94%,rgba(255,119,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe89', endColorstr='#ff7700',GradientType=0 );

}
/* ___________ */

.bledy
{
    padding:6px;
 background:rgba(0,0,0,0.5);
 border-top:1px solid #ff7700;
 color:#f70;
 font-weight:bold;
 width:505px;
 border-radius:10px 10px 0 0;

 box-shadow: inset 0 -5px 7px #f70;
padding-left:240px;

}
.magazyn
{
    padding:5px;
background: rgb(0,0,0) !important;
background: -moz-linear-gradient(top,  rgba(112,112,112,1) 0%, rgba(14,14,14,1) 91%, rgba(112,112,112,1) 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,112,112,1)), color-stop(91%,rgba(14,14,14,1)), color-stop(100%,rgba(112,112,112,1))) !important;
background: -webkit-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(14,14,14,1) 91%,rgba(112,112,112,1) 100%) !important;
background: -o-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(14,14,14,1) 91%,rgba(112,112,112,1) 100%) !important;
background: -ms-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(14,14,14,1) 91%,rgba(112,112,112,1) 100%) !important;
background: linear-gradient(to bottom,  rgba(112,112,112,1) 0%,rgba(14,14,14,1) 91%,rgba(112,112,112,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#707070',GradientType=0 ) !important;

box-shadow:0 4px 10px #000;
margin-bottom:20px !important;
}
.magazyn_admin
{
padding-left:40px;
}
.formularz>.koszyk_produkt
{
background: rgb(112,112,112);
background: -moz-linear-gradient(top,  rgba(112,112,112,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,112,112,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1)));
background: -webkit-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
background: -o-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
background: -ms-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
background: linear-gradient(to bottom,  rgba(112,112,112,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#1b1b1b',GradientType=0 );
border-radius:10px 10px 0 0;
color:#f70 !important;
}
.koszyk_produkt
{
    width:120px;
    background:#000;
    margin:4px;
    padding:3px;
    width:98%;
    position:relative;

}
.koszyk_produkt>div:first-child
{
      display:inline-block;
 width:30px !important;
 padding-left:2px;
 text-align:left;

}
.koszyk_produkt>div:first-child+div
{
      display:inline-block;
 width:310px !important;
 text-align:left;

}
.koszyk_produkt>div+div+div
{
      display:inline-block;
 width:250px;

}
.koszyk_produkt>div:first-child+div+div+div
{
      display:inline-block;
 width:90px !important;
text-align:center;
 
}
.koszyk_produkt>div:last-child
{
    position:absolute !important;
    right:0px !important;
    padding:0;
    width:50px !important;
    text-align:left;
   

}
.edytuj_magazyn
{
    border-style: none !important;
    border-color: inherit !important;
    border-width: 0px !important;
    opacity:1 !important;
    border-radius:0px !important;
    background:url('/grafika/proj-grup-sprite.png') -208px -160px !important;
    width:37px;
    height:37px;
    right:10px !important;
    bottom:-20px;
}
.edytuj_magazyn:hover
{
    border-radius:3px !important;
 box-shadow:0 0 10px 1px #f70, inset 0px 0px 15px 2px #000;
 cursor:pointer;
}
.usun:hover
{
     box-shadow:0 0 10px 1px #f70, inset 0px 0px 15px 2px #000;
     color:#f70;
     cursor:pointer;
}
.usun
{

padding-right:12px;
padding-left:8px;


}
.edytowany_magazyn
{
box-shadow:0 0 20px #f70;
}
.magazyn input[type=text]
{
 width:70px;

 background:#777 !important;   
}
.rezerwuj>div
{
  background-image:url("/grafika/proj-grup-sprite.png") !important;
 background-position:-299px -249px !important;   
 
 padding:14px;
padding-right:12px !important;
}
.rezerwuj>span
{
    padding-left:3px;
    color:#5ad;
 content:"7"; 
}
.niewidok
{
 opacity:0;   
}
.ostrzezenie_on
{
    background:rgba(0,0,0,0.5);
    width:600px;
    height:400px;
    left:50%;
    margin-left:-300px;
    margin-top:-20px;
 
    z-index:1000;
    position:absolute;
    opacity:1 !important;
    text-align:center;
    line-height:350px;
    font-weight:bold;
    color:White;
}
.ostrzezenie_on>div.aabbcc
{
 background:#ff7700;
 width:100%;

 height:20px;
 text-align:center;
 font-weight:bold;
}
.ostrzezenie_on input[type=button]
{
 background:white;
 font-weight:bold;
 border:0px;
 padding:15px;
 padding-left:40px;   
 padding-right:40px;
}
.okay
{
 position:absolute;
 bottom:15px;
 width:100%;
 text-align:center;
 margin:auto;   
}
.naglowek_produktu
{
 font-weight:bold;
 font-size:25px;
text-transform: capitalize;
}